@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --category: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --tw-bg-opacity: 0.25;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --tw-bg-opacity: 0.25;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --category: 222.2 47.4% 11.2%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
span {
  font-family: Inter, sans-serif;
  font-size: .75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(3 4 28 / var(--primary));
}
.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}
.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(82 82 88 / var(--tw-text-opacity));
}
.text-primary {
  color: var(--primary);
}
.text-white {
  color: var(--primary);
}
.hover\:text-theme_color:hover {
  --tw-text-opacity: 1;
    color: rgb(245 9 99 / var(--tw-text-opacity));
}
.containerHeader {
  padding: 0;
  max-width: 100%;
}

/* Thêm giỏ hàng */

.hover:bg-hover {
  background-color: rgba(128, 128, 128, .4);
}
.custombuttonNext {
  padding: 20px 5px;
  background-color: rgba(255, 255, 255, .4);
  right: 0;
  border-radius: 0;
  width: 3rem;
  height: 5rem;
  border-color: unset;
}
.custombuttonPrevious {
  padding: 20px 5px;
  background-color: rgba(255, 255, 255, .4);
  left: 0;
  border-radius: 0;
  width: 3rem;
  height: 5rem;
  border-color: unset;
}
.BannerCarousel.bannerCarouselOverflow {
  overflow: hidden;
}
.hover\:bg-theme_color:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 9 99 / var(--tw-bg-opacity));
}

.btn-custom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

.btn-custom:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: rgb(139, 42, 42);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn-custom:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn-custom span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn-custom:hover span {
  /* color: #183153; */
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

/* ADMIN */
.text-sidebar {
  margin-left: 0.75rem;
  flex: 1 1 0%;
  font-weight: 700;
  font-size: 14px;
}